* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin-top: 47px;
    margin-left: 42px;

   /* display: flex;
    align-items: center;
    padding: 44px 120px 0 120px;
    gap: 23px;
    */
}

.link-header {
    margin-right: 32px;
    /*margin-right: 23px;*/
    font-weight: 400;
    font-size: 14px;
    line-height: 21px; /*adicionado*/
    text-align: center; /*adicionado*/
    /*line-height: 100%;*/
    letter-spacing: 0.88px;
    color: #17233d; /*adicionado*/
}

.button-header {
  width: 124px;
  height: 51px;
  border-radius: 6px;  
  border: 1px;
  background: #6fbf44;
  font-weight: 500;
  font-size: 16px;
  /*line-height: 100%;*/
  line-height: 24px;
  letter-spacing: 1px;
  color: #fff;
}

/*main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 120px;
    min-height: 100vh;
    gap: 60px;
}*/

.logo-img {
    margin: 163px 0 0 123px;
    display: inline-block;

    /*width: 598.18px;
    height:auto;
    display: inline-block;*/
}


section {
    display: inline-block;
    margin-left: 85px;
    max-width: 493px;
    /*max-width: 582px;
    display: flex;
    flex-direction: column;
    gap: 12px;*/
    
} 

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161a49;
    /*max-width: 582px;*/
    
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4b505a;
    margin-top: 47px;
    margin-bottom: 55px;
    
}

.link-main {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #6fbf44;
    text-decoration: none;
    margin-top: 20px;
}

@media screen and (max-width: 760px) {
    
    body {
        margin: 0;
        padding: 0;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

    section {
        width: 100%;
        max-width: 304px; 
        text-align: center;
        margin: auto;
        
    }

    h1 {
        width: 278px;
        font-size: 30px;
        text-align: center;
        line-height: 36px;

    }

    p {
        width: 304px;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }

    .logo-img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 80px;
    }

    img {
        width: 279px;
        height: auto;
    }
    
    .link-header {
        display: none;
    }

    header {
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        width: 100%;
        padding-right: 10px;
    }
    

    .button-header {
        width: 91px;
        height: 31px;
        border-radius: 6px;
        border-width: 1px;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 1px;
        margin: 0 10px 0 auto; 
    }
    

 
}
